################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs/Computer-Graphics
/Learn OpenGL/Solution 1/Solution 1/.vs/Solution 1/FileContentIndex/02851c7b-74ba-44d2-8770-a0353da3dfbb.vsidx
/Learn OpenGL/Solution 1/Solution 1/.vs/Solution 1/FileContentIndex
/Learn OpenGL/Solution 1/Solution 1/Solution 1/x64/Debug/Solution 1.tlog
